.ace_editor {
	height: 75vh;
	border: 2px solid #c4c4c4;
}
.powered-by-firepad {
	display: none;
}
.output-editor {
	border: none !important;
}
.output-editor .ace_cursor {
	border-left: 7px solid;
}

.editor-nav > li > a {
	padding: 0.5vh 0.5vw;
}

.editor-nav .filename-input {
	margin-right: 1rem;
	max-width: 10rem;
}
.editor-nav .filename-input:disabled {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: none;
}